<div class="navbar">
  <div class="navbar_searchbar">
    <input type="text" name="search" id="search" placeholder="Search Books" />
  </div>
  <div class="navbar_action-buttons">
    <a href="/cart" class="cart">Carrt</a>
    <a href="/login" class="adminMode-btn"> Admin Mode</a>
  </div>
</div>
