<div class="sidebar">
  <div class="logo">
    <a href="/">THE BOOKSTORE</a>
  </div>

  <div class="sidebar-content">
    <div class="sidebar_batch batch-1">
      <div class="sidebar_batch-heading">New Releases</div>

      <div class="sidebar_batch-books">
        <div class="sidebar_batch-book">
          <div class="sidebar_batch-book-image">
            <img src="https://dummyimage.com/60x100" />
          </div>
          <div class="sidebar_batch-book-content">
            <div class="sidebar_batch-book-name">In such a Good Company</div>
            <div class="sidebar_batch-book-author">by Carol Burnett</div>
            <div class="sidebar_batch-book-price">$18. 00</div>
          </div>
        </div>
        <div class="sidebar_batch-book">
          <div class="sidebar_batch-book-image">
            <img src="https://dummyimage.com/60x100" />
          </div>
          <div class="sidebar_batch-book-content">
            <div class="sidebar_batch-book-name">In such a Good Company</div>
            <div class="sidebar_batch-book-author">by Carol Burnett</div>
            <div class="sidebar_batch-book-price">$18. 00</div>
          </div>
        </div>
        <div class="sidebar_batch-book">
          <div class="sidebar_batch-book-image">
            <img src="https://dummyimage.com/60x100" />
          </div>
          <div class="sidebar_batch-book-content">
            <div class="sidebar_batch-book-name">In such a Good Company</div>
            <div class="sidebar_batch-book-author">by Carol Burnett</div>
            <div class="sidebar_batch-book-price">$18. 00</div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar__batch batch-2">
      <div class="sidebar_batch-heading">Best Sellers</div>
      <div class="sidebar_batch-books">
        <div class="sidebar_batch-book">
          <div class="sidebar_batch-book-image">
            <img src="https://dummyimage.com/60x100" />
          </div>
          <div class="sidebar_batch-book-content">
            <div class="sidebar_batch-book-name">In such a Good Company</div>
            <div class="sidebar_batch-book-author">by Carol Burnett</div>
            <div class="sidebar_batch-book-price">$18. 00</div>
          </div>
        </div>
        <div class="sidebar_batch-book">
          <div class="sidebar_batch-book-image">
            <img src="https://dummyimage.com/60x100" />
          </div>
          <div class="sidebar_batch-book-content">
            <div class="sidebar_batch-book-name">In such a Good Company</div>
            <div class="sidebar_batch-book-author">by Carol Burnett</div>
            <div class="sidebar_batch-book-price">$18. 00</div>
          </div>
        </div>
        <div class="sidebar_batch-book">
          <div class="sidebar_batch-book-image">
            <img src="https://dummyimage.com/60x100" />
          </div>
          <div class="sidebar_batch-book-content">
            <div class="sidebar_batch-book-name">In such a Good Company</div>
            <div class="sidebar_batch-book-author">by Carol Burnett</div>
            <div class="sidebar_batch-book-price">$18. 00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
